localise-queries
local-service
cache-size=65536
no-dhcp-interface=*
{% if dnsmasq_bind is defined %}
{% if dnsmasq_bind == 'dynamic' %}
bind-dynamic
{% endif %}
{% else %}
{% if dnsmasq_resolv is defined %}
listen-address=127.0.0.1
bind-interfaces
{% endif %}
{% endif %}
{% if dns_servers is defined %}
{% for server in dns_servers %}
server={{server}}
{% endfor %}
{% endif %}