storage "consul" {
  address = "127.0.0.1:8500"
  scheme  = "http"
  path    = "vault"
{% if consul_acl_master_token is defined %}
  token   = "{{ consul_acl_master_token }}"
{% endif %}
}

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = true
}
