#jinja2: lstrip_blocks: "True"
kind: Config
clusters:
- name: local
  cluster:
    {% if service_bind_ip is defined %}
    server: http://{{service_bind_ip}}:8080
    {% else %}
    server: http://{{ansible_default_ipv4.address}}:8080
    {% endif %}
users:
- name: kubelet
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
