<source>
	@type  forward
	port  24224
</source>

<source>
	@type syslog
	port 5140
	tag syslog
</source>

<filter docker.**>
	@type concat
	stream_identity_key container_id
	multiline_start_regexp /^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}.\d{3}/
	flush_interval 5
	key log
	timeout_label @NORMAL
</filter>

<match *.**>
	@type relabel
	@label @NORMAL
</match>

<label @NORMAL>

	<match *.**>
		@type copy

		# Local destination - for archival purposes
		<store>
		  @type file
		  path         /fluentd/log/data.*.log
		  symlink_path /fluentd/log/data.log
		  append       true
		  time_slice_format %Y%m%d
		  time_slice_wait   10m
		  time_format       %Y%m%dT%H%M%S%z
			flush_at_shutdown true
			compress gzip
		</store>

		# Remote destination
		<store>
		#	Your specific remote logging directives here
		@type loggly
    loggly_url https://logs-01.loggly.com/inputs/{{lookup('env','LOGGLY_CUSTOMER_TOKEN')}}/tag/fluentd
		</store>
	</match>

</label>
