[Unit]
Description={{ service_name }} daemon
Requires=network-online.target
After=network-online.target

[Service]
User={{ service_user }}
Group={{ service_group }}
Restart=always
{% for key, value in service_env.iteritems() %}
Environment={{ key }}="{{ value }}"
{% endfor %}
ExecStart={{ service_exec }} {{ service_args }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
