timeout 300;
{% if dnsmasq_resolv is defined %}
{% if dnsmasq_resolv == 'supersede' %}
supersede domain-name-servers 127.0.0.1;
{% elif dnsmasq_resolv == 'prepend' %}
prepend domain-name-servers 127.0.0.1;
{% endif %}
{% endif %}