version: '3'
services:
  {{lookup('env','SERVICE_NAME')}}:
    image: {{lookup('env','DOCKER_REGISTRY_ADDRESS')}}/{{lookup('env','DOCKER_REGISTRY_PATH')}}/{{lookup('env','SERVICE_NAME')}}:{{lookup('env','BUILD_TAG')}}
    build: ./
