job "{{lookup('env','POD_NAME')}}" {
  datacenters = ["dc1"]
  type = "service"
  update {
    max_parallel = 1
  }
  group "{{lookup('env','POD_NAME')}}" {
    task "{{lookup('env','POD_NAME')}}-{{lookup('env','BUILD_TAG')}}" {
      driver = "docker"
      config {
        image = "{{lookup('env','REGISTRY_ADDRESS')}}/{{lookup('env','REGISTRY_PATH')}}/{{lookup('env','POD_NAME')}}:{{lookup('env','BUILD_TAG')}}"
        auth {
          server_address = "{{lookup('env','REGISTRY_ADDRESS')}}"
          username = "{{lookup('env','REGISTRY_USERNAME')}}"
          password = "{{lookup('env','REGISTRY_PASSWORD')}}"
        }
      }
      service {
        name = "{{lookup('env','POD_NAME')}}"
      }
    }
  }
}