#jinja2: lstrip_blocks: "True"
job "{{lookup('env','POD_NAME')}}" {
  datacenters = ["dc1"]
  type = "service"
  update {
    max_parallel = 1
    health_check     = "checks"
    healthy_deadline = "300s"
    auto_revert      = true
    stagger          = "10s"
  }
  group "{{lookup('env','POD_NAME')}}" {
    count = {{lookup('env','POD_COUNT')|default(1,true)}}
    restart {
      attempts = 3
      delay    = "60s"
      interval = "15m"
      mode     = "delay"
    }
    task "{{lookup('env','POD_NAME')}}-{{lookup('env','BUILD_TAG')}}" {
      driver = "docker"
      config {
        image = "{{lookup('env','DOCKER_REGISTRY_ADDRESS')}}/{{lookup('env','DOCKER_REGISTRY_PATH')}}/{{lookup('env','POD_NAME')}}:{{lookup('env','BUILD_TAG')}}"
        auth {
          server_address = "{{lookup('env','DOCKER_REGISTRY_ADDRESS')}}"
          username = "{{lookup('env','REGISTRY_USERNAME')}}"
          password = "{{lookup('env','REGISTRY_PASSWORD')}}"
        }
        port_map {
          http = {{lookup('env','POD_LISTEN')|default(8080,true)}}
        }
        dns_servers = [
          "${attr.unique.network.ip-address}"
        ]
        logging {
          type = "fluentd"
          config {
            fluentd-address = "fluentd.service.consul:24224"
            tag = "docker.{{lookup('env','POD_NAME')}}.{{lookup('env','POD_NAME')}}-{{lookup('env','BUILD_TAG')}}.${attr.unique.hostname}.{%raw%}{{.ID}}{%endraw%}"
          }
        }
      }
      env {
        {% for item in lookup('env','SERVICE_ENV')|from_json() %}
        {{item['key']}} = "{{item['value']}}"
        {% endfor %}
      }
      resources {
        memory = {{lookup('env','POD_MEMORY')|default(500,true)}}
        network {
          mbits = 100
          port "http" {}
        }
      }
      service {
        tags = [
          "urlprefix-/{{lookup('env','SERVICE_NAME')|default(lookup('env','POD_NAME'),true)}} strip=/{{lookup('env','SERVICE_NAME')|default(lookup('env','POD_NAME'),true)}}"
        ]
        name = "{{lookup('env','SERVICE_NAME')|default(lookup('env','POD_NAME'),true)}}"
        port = "http"
        check {
          type = "http"
          path = "{{lookup('env','POD_HEALTH_PATH')|default('/health',true)}}"
          interval = "10s"
          timeout  = "4s"
          check_restart {
            limit = 4
            grace = "90s"
            ignore_warnings = false
          }
        }
      }
    }
  }
}
