#jinja2: lstrip_blocks: "True"
job "{{lookup('env','POD_NAME')}}" {
  datacenters = {{lookup('env','POD_DATACENTERS')|default('["dc1"]',true)}}
  type = "service"
  update {
    max_parallel = 1
  }
  group "{{lookup('env','POD_NAME')}}" {
    count = {{lookup('env','POD_COUNT')|default(1,true)}}
    task "{{lookup('env','POD_NAME')}}-{{lookup('env','BUILD_TAG')}}" {
      driver = "docker"
      config {
        image = "{{lookup('env','DOCKER_REGISTRY_ADDRESS')}}/{{lookup('env','DOCKER_REGISTRY_PATH')}}/{{lookup('env','POD_NAME')}}:{{lookup('env','BUILD_TAG')}}"
        args = [
          {% for item in lookup('env','POD_ARGS')|default('[]',true)|from_json() %}
          "{{item['value']}}",
          {% endfor %}
        ]
        auth {
          server_address = "{{lookup('env','DOCKER_REGISTRY_ADDRESS')}}"
          username = "{{lookup('env','REGISTRY_USERNAME')}}"
          password = "{{lookup('env','REGISTRY_PASSWORD')}}"
        }
        dns_servers = [
          "${attr.unique.network.ip-address}"
        ]
      }
      env {
        {% for item in lookup('env','POD_ENV')|default('[]',true)|from_json() %}
        {{item['key']}} = "{{item['value']}}"
        {% endfor %}
      }
      resources {
        memory = {{lookup('env','POD_MEMORY')|default(100,true)}}
        network {
          mbits = {{lookup('env','POD_MBITS')|default(100,true)}}
        }
      }
      service {
        name = "{{lookup('env','SERVICE_NAME')|default(lookup('env','POD_NAME'),true)}}"
      }
    }
  }
}