#jinja2: lstrip_blocks: True
bind_addr= "0.0.0.0"
{% if service_bind_ip is defined %}
advertise {
  http = "{{service_bind_ip}}"
  rpc  = "{{service_bind_ip}}"
  serf = "{{service_bind_ip}}"
}
{% endif %}
log_level = "DEBUG"
data_dir = "{{service_data_dir}}"
disable_update_check = true
{% if service_mode == 'server' %}
server {
  enabled = true
  bootstrap_expect = 2
  rejoin_after_leave = true
}
{% elif service_mode == 'client' %}
client {
  enabled = true
  {% if service_network_interface is defined %}
  network_interface = "{{service_network_interface}}"
  {% endif %}
  meta {
    {% for key, value in service_meta.iteritems() %}
    {{key}} = "{{value}}"
    {% endfor %}
  }
}
{% endif %}
