bind_addr= "0.0.0.0"
{% if service_bind_ip is defined %}
{% if service_bind_ip %}
advertise {
  http = "{{service_bind_ip}}"
  rpc  = "{{service_bind_ip}}"
  serf = "{{service_bind_ip}}"
}
{% endif %}
{% endif %}
log_level = "DEBUG"
data_dir = "{{service_data_dir}}"
disable_update_check = true
{% if service_mode == 'server' %}
server {
  enabled = true
  bootstrap_expect = 2
  rejoin_after_leave = true
}
{% else %}
client {
  enabled = true
  meta {
    foo = "bar"
  }
}
{% endif %}
